@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #3d0240;
  font-size: 16px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

body {
  background-color: #fae3e3;
}

body h1 {
  margin: 50px;
}

.container {
  display: grid;
  margin: 0 auto;
  width: 70%;
  grid-template-columns: 1.5fr 1fr;
  gap: 20px;
}

.score-container {
  display: flex;
  flex-direction: column;
}

.refresh-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
  gap: 10px;
}

.refreshBtn {
  padding: 5px;
  border-radius: 4px;
}

.score-list {
  border: 1px solid black;
  list-style: none;
  max-height: 500px;
  overflow: auto;
}

.score-list li {
  padding: 5px;
}

.score-list li:nth-child(even) {
  background-color: #b7b7b7;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

form input {
  padding: 5px;
  width: 120%;
}

.submitBtn {
  align-self: flex-start;
  padding: 5px;
  border-radius: 4px;
}

@media only screen and (min-width: 700px) {
  .refresh-div {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .submitBtn {
    align-self: flex-end;
  }

  form input {
    width: 100%;
  }

  .submitBtn:hover,
  .refreshBtn:hover {
    background-color: #7d5a5a;
    color: #f1d1d1;
  }
}
